body{
    text-align: center; 
    /*black blackground color....*/
    /*Super dark is better than plain dark*/
    background-color: #050505;
    /*Drawing 30 x 30 animated grid*/
    background-image: 
    linear-gradient(rgba(0, 255, 255, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 255, 0.08) 1px, transparent 1px);
    /*Defining the grid for the board*/
    background-size: 30px 30px;
    /*Defining the animation for the grid to load on the map*/
    animation: scrollGrid 20s linear infinite;
    margin: 0;
    /*Pushing the board a little bit down */
    padding-top: 40px;
    /*Arcade font style color is better in this case..*/ 
    font-family: "Courier New", Courier, monospace;
}

/*Definig the animation*/

#board { 
    background-color: black;
    border: 4px solid #111;
    border-radius: 8px;
    /*This creates a neon glow behind the board of the map*/
    box-shadow: 0 0 20px rgba(0, 255, 225, 0.2), 0 0 50px rgba(0, 100, 255, 0.3);
} 

